<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.noticeboard.study.user.dto.User_informationDto" alias="userDto"/>
		<typeAlias type="com.noticeboard.study.noticeboard.dto.NoticeboardDto"
		 alias="noticeboardDto"/>
		<typeAlias type="com.noticeboard.study.noticeboard.dto.Noticeboard_typeDto"
		 alias="noticeboard_typeDto"/>
	
	</typeAliases>

</configuration>